*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$link-color: #5f6368;
$background-color: #f6f6f6;

body {
  font-size: 16px;
  font-weight: 500;
  background-color: $background-color;
}

.container {
  max-width: 1440px;
  margin: auto;
}

a {
  font-size: 16px;
  text-decoration: none;
  color: #5f6368;
}
